body {
  width: 28em;
  font-family: sans-serif;
  background-color: Window;
}

textarea {
  width: 100%;
}

input {
  width: 100%;
}

button {
  width: 8em;
}

select {
  max-width: 100%;
  margin-bottom: 6px;
}

#certDetails {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}
