body {
  width: 28em;
  font-family: sans-serif;
  background-color: Window;
}

textarea {
  width: 100%;
}

input {
  width: 100%;
}

button {
  width: 8em;
  margin: 6px 0px 6px 6px;
}

select {
  width: 100%;
  margin-bottom: 6px;
}

.buttonBox {
  float: right;
}

/* change buttons order on Windows only */
@media screen and (-moz-windows-theme) {
  #btnCancel {
    float: right;
  }
}

#certDetails {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}

.warning {
  border: 2px solid red;
  font-weight: bold;
  color: red;
}
